In [13]:
import pandas as pd

df = pd.read_csv('../weather-raw.csv')
df.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:

df = pd.melt(df, id_vars=['id', 'year', 'month', 'element',],
             value_vars=list(df.columns)[4:],
             var_name='date', value_name='value')
df['date'] = df['date'].str[1:].astype('int')
df['date'] = df[['year', 'month', 'date']].apply(
    lambda row: '{:4d}-{:02d}-{:02d}'.format(*row),
    axis=1)
df = df.loc[df['value'] != '---', ['id', 'date', 'element', 'value']]
df = df.set_index(['id', 'date', 'element'])
df = df.unstack()
df.columns = list(df.columns.get_level_values('element'))
df = df.reset_index()
# df.to_csv('data/weather-tidy.csv', index=False)
df

          id        date  tmax  tmin
0    MX17004  2010-01-01   NaN   NaN
1    MX17004  2010-01-02   NaN   NaN
2    MX17004  2010-01-03   NaN   NaN
3    MX17004  2010-01-04   NaN   NaN
4    MX17004  2010-01-05   NaN   NaN
5    MX17004  2010-01-06   NaN   NaN
6    MX17004  2010-01-07   NaN   NaN
7    MX17004  2010-01-08   NaN   NaN
8    MX17004  2010-01-09   NaN   NaN
9    MX17004  2010-01-10   NaN   NaN
10   MX17004  2010-01-11   NaN   NaN
11   MX17004  2010-01-12   NaN   NaN
12   MX17004  2010-01-13   NaN   NaN
13   MX17004  2010-01-14   NaN   NaN
14   MX17004  2010-01-15   NaN   NaN
15   MX17004  2010-01-16   NaN   NaN
16   MX17004  2010-01-17   NaN   NaN
17   MX17004  2010-01-18   NaN   NaN
18   MX17004  2010-01-19   NaN   NaN
19   MX17004  2010-01-20   NaN   NaN
20   MX17004  2010-01-21   NaN   NaN
21   MX17004  2010-01-22   NaN   NaN
22   MX17004  2010-01-23   NaN   NaN
23   MX17004  2010-01-24   NaN   NaN
24   MX17004  2010-01-25   NaN   NaN
25   MX17004  2010-01-26   NaN   NaN
26   MX17004  2010-01-27   NaN   NaN
27   MX17004  2010-01-28   NaN   NaN
28   MX17004  2010-01-29   NaN   NaN
29   MX17004  2010-01-30  27.8  14.5
..       ...         ...   ...   ...
311  MX17004  2010-12-02   NaN   NaN
312  MX17004  2010-12-03   NaN   NaN
313  MX17004  2010-12-04   NaN   NaN
314  MX17004  2010-12-05   NaN   NaN
315  MX17004  2010-12-06  27.8  10.5
316  MX17004  2010-12-07   NaN   NaN
317  MX17004  2010-12-08   NaN   NaN
318  MX17004  2010-12-09   NaN   NaN
319  MX17004  2010-12-10   NaN   NaN
320  MX17004  2010-12-11   NaN   NaN
321  MX17004  2010-12-12   NaN   NaN
322  MX17004  2010-12-13   NaN   NaN
323  MX17004  2010-12-14   NaN   NaN
324  MX17004  2010-12-15   NaN   NaN
325  MX17004  2010-12-16   NaN   NaN
326  MX17004  2010-12-17   NaN   NaN
327  MX17004  2010-12-18   NaN   NaN
328  MX17004  2010-12-19   NaN   NaN
329  MX17004  2010-12-20   NaN   NaN
330  MX17004  2010-12-21   NaN   NaN
331  MX17004  2010-12-22   NaN   NaN
332  MX17004  2010-12-23   NaN   NaN
333  MX17004  2010-12-24   NaN   NaN
334  MX17004  2010-12-25   NaN   NaN
335  MX17004  2010-12-26   NaN   NaN
336  MX17004  2010-12-27   NaN   NaN
337  MX17004  2010-12-28   NaN   NaN
338  MX17004  2010-12-29   NaN   NaN
339  MX17004  2010-12-30   NaN   NaN
340  MX17004  2010-12-31   NaN   NaN

[341 rows x 4 columns]

In [10]:
# Extracting day
df["day"] = df.str.extract("d(\d+)", expand=False)  
df["id"] = "MX17004"

AttributeError: 'DataFrame' object has no attribute 'str'

In [ ]:
# To numeric values
df[["year","month","day"]] = df[["year","month","day"]].apply(lambda x: pd.to_numeric(x, errors='ignore'))

In [ ]:
# Creating a date from the different columns
def create_date_from_year_month_day(row):
    return datetime.datetime(year=row["year"], month=int(row["month"]), day=row["day"])

df["date"] = df.apply(lambda row: create_date_from_year_month_day(row), axis=1)
df = df.drop(['year',"month","day", "day_raw"], axis=1)
df = df.dropna()

In [ ]:
# Unmelting column "element"
df = df.pivot_table(index=["id","date"], columns="element", values="value")
df.reset_index(drop=False, inplace=True)
df